.jumbotron {
	background-color: peachpuff;
	color: darkslategray;
}

.footer {
	padding-top: 10px 10px 0 10px;
	background-color: papayawhip;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-recetas{
	flex: 1 100px;
	padding-top: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-Contacto{
	width: 100%;
	border-radius: 5px;
}

.footer-adress-icon{
	padding-right: 10px;
}
