@rosado: #EE82EE;

@lilas: #DDA0DD;

@girs:  #2F4F4F;

.margenes(@top: 10px, @bottom: 10px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @rosado;
  color: @girs;
  .margenes(@top: 10px, @bottom: 10px) 
  }

.footer {
  padding-top: 10px 10px 0 10px;
  background-color: @lilas;
  .margenes(@top: 10px, @bottom: 10px)
  }

.card-recetas {
  flex: 1 100px;
  padding-top: 2px 5px 2px 5px;
  .margenes(@top: 10px, @bottom: 10px)
  }

.btn-Contacto {
  width: 100%;
  border-radius: 5px; }

.footer-adress-icon {
  padding-right: 10px; }
