.jumbotron {
  background-color: #0ebcc2;
  color: #2b3538;
  margin-top: 50px;
  margin-bottom: 10px; }

.footer {
  padding-top: 10px 10px 0 10px;
  background-color: #58aebf;
  margin-top: 50px;
  margin-bottom: 10px; }

.card-recetas {
  flex: 1 100px;
  padding-top: 2px 5px 2px 5px;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn-Contacto {
  width: 100%;
  border-radius: 5px; }

.footer-adress-icon {
  padding-right: 10px; }
