$celestes: #0ebcc2;

$letraTitulo: #2b3538;

$pieDePagina: #58aebf;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


.jumbotron {
	background-color: $celestes;
	color: $letraTitulo;
	@include margenes(50px, 10px);
}

.footer {
	padding-top: 10px 10px 0 10px;
	background-color: $pieDePagina;
	@include margenes(50px, 10px);
}

.card-recetas{
	flex: 1 100px;
	padding-top: 2px 5px 2px 5px;
	@include margenes(50px, 0px);
}

.btn-Contacto{
	width: 100%;
	border-radius: 5px;
}

.footer-adress-icon{
	padding-right: 10px;
}