.jumbotron {
  background-color: #BA55D3;
  color: #2F4F4F;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer {
  padding-top: 10px 10px 0 10px;
  background-color: #DDA0DD;
}
.card-recetas {
  flex: 1 100px;
  padding-top: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-Contacto {
  width: 100%;
  border-radius: 5px;
}
.footer-adress-icon {
  padding-right: 10px;
}
